* {
    box-sizing: border-box;
}

body {
    font-family: 'Special Elite', cursive;
    margin:100; 
    padding: 10px;
    background:url(http://images5.fanpop.com/image/photos/27500000/The-Slip-nine-inch-nails-27519710-1280-800.jpg);
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
}



.ejercicios {

    position: absolute;
    top:  200px; 
    left: 1200px;
    font-size: 20px;
    
}

.sobre {
    display: inline-block;
    width: 200px;
    top: 0px;
    cursor: pointer;
    
}

.trabajos {
    display: inline-block;
    width: 200px;
    top: 0px; 
    cursor: pointer;
}

.contacto {
    display: inline-block;
    width: 200px;
    top: 0px;
    cursor: pointer;
}

.inicio {
    display: inline-block;
    width: 200px;
    top: 0px;
    cursor: pointer;
}

.nombre {
    font-size: 30px;
}


.about {
    text-decoration: none;
    color: black;
}

.work {
    text-decoration: none;
}

.contact {
    text-decoration: none;
}

.home {
    text-decoration: none;
}