* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin:100; 
    padding: 10px;
    background:url(background.png);
    background-attachment: cover;
    text-align: center;
    background-size: 100%;
}



.ejercicios {

    position: absolute;
    top:  200px; 
    left: 1200px;
    font-size: 20px;
    color: black;
    
}

.sobre {
    display: inline-block;
    width: 200px;
    top: 0px;
    cursor: pointer;
    
}

.trabajos {
    display: inline-block;
    width: 200px;
    top: 0px; 
    cursor: pointer;
}



.inicio {
    display: inline-block;
    width: 200px;
    top: 0px;
    cursor: pointer;
    
}

.about {
    text-decoration: none;
    color: black;
}

.work {
    text-decoration: none;
    color: black;
}

.contact {
    text-decoration: none;
    color: black;
}

.home {
    text-decoration: none;
    color: black;
}