* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin:25; 
    padding: 25px;
    background-color: white;
    text-align: center;
}

ul {
    width: 100px;
    text-align: center;
}

.lista {
    width: 100px;
    margin: auto;
}