* {
    box-sizing: border-box;
}

body, input {
    font-family: 'Muli', sans-serif;
}

body {
    margin: 0;

}

#contenedor {
    width: 250px;
    margin: 25px auto;
    text-align: center;
    background: white;
    padding: 15px;
    border: 2px solid black
}

h1 {
    margin: 0;
    margin-bottom: 12px;
}

input {
    padding: 5px 10px;
    margin: 5px 0;
    font-size: 20px;
    outline-color: green;
    border: 3px solid white;
    width: 100%;

}

button {
    width: 34px;
    height: 34px;
    margin: 5px 8px;
}